.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    margin: 30px 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: hsl(192, 100%, 9%);
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

p {
    font-weight: 400;
    font-size: 12px;
}

img {
    max-width: 100%;
}

main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6,auto);
    grid-template-areas: 
        "1"
        "2"
        "3"
        "4"
        "5"
        "6"
    ;
    margin-bottom: 100px;
}

.section-img {
    margin-bottom: 50px;
}



/* ====== mobile: introduction styling ====== */

.introduction {
    grid-area: 1;
    margin-bottom: 200px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: 
    "logo b1"
    "h1 h1"
    "p p"
    "b2 b2"
    "img img"
    "f1 f1"
    "f2 f2"
    ;
}

.introduction > img:first-child {
    grid-area: logo;
    float: left;
    width: 100px;
}

.int-btn-one {
    grid-area: b1;
    /* float: right; */
    margin-left: auto;
    border-radius: 23px;
    width: 80px;
    height: 25px;
    line-height: 12.5px;
    font-size: 12px;
    color: hsl(321, 100%, 78%);
    border-color: hsl(321, 100%, 78%);
}


.introduction > h1 {
    grid-area: h1;
    margin-top: 80px;
}

.introduction > p {
    grid-area: p;
}

.int-btn-two{
    grid-area: b2;
    width: 250px;
    height: 40px;
    margin: 30px auto 80px auto;
    border-radius: 23px;
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%);
}

.introduction > img:nth-child(6) {
    grid-area: img;
}

.communities {
    grid-area: f1;
}

.messages {
    grid-area: f2;
}

figure {
    margin-top: 80px;
}

figure > img {
    float: left;
}

figure > h2 {
    /* I want the communities icon to float over the follower counter! is display inline-block and width working? */
    display: inline-block;
    width: 100%;
    font-weight: 600;
    font-size: 46px;
}

figcaption {
    opacity: 0.5;
    font-size: 12px;
}



/* ====== mobile: grow together styling ====== */


.grow-together {
    grid-area: 2;
    /* has a wavy light-blue background! */
    margin-bottom: 200px;
}

/* .grow-together > img {
    margin-bottom: 50px;
} */


/* ====== mobile: flowing conversations styling ====== */

.flowing-conversations {
    grid-area: 3;
    margin-bottom: 200px;
}

/* .flowing-conversations > img {
    margin-bottom: 50px;
} */




/* ====== mobile: users styling ====== */

.your-users {
    grid-area: 4;
    /* has a wavy light-blue background! */
    margin-bottom: 200px;
}

/* .your-users > img {
    margin-bottom: 50px;
} */


/* ====== mobile: call for action styling ====== */

.call-for-action {
    grid-area: 5;
    margin-bottom: 200px;
}

.call-for-action > button {
    border-radius: 23px;
    width: 250px;
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%);
}

/* ====== mobile: newsletter for action styling ====== */

.newsletter {
    grid-area: 6;
    text-align: left;
    /* has a wavy dark-green background! */
    margin-bottom: 100px;
}

form > input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 8px;
}

form > button {
    float: right;
    width: 150px;
}

form > .btn-primary {
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%);
}

/* ====== mobile: footer styling ====== */

footer {
    text-align: left;
    /* has a wavy dark-green background! */
    background-color: hsl(192, 100%, 9%);
    color: #fff;
}

footer > img {
    /* float: left; */
    width: 180px;
    color: #fff;
}

footer > p {
    margin-bottom: 40px;
}

footer > nav > ul {
    list-style: none;
    padding-left: 0;
}

.contact > li {
    margin-top: 10px;
}

.social > li {
    display: inline-block;
    background-color: #fff;
    color:hsl(192, 100%, 9%);
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
}

.social > li > i {
    /* line-height: 12.5px; */
    
}

.social > li:nth-of-type(2) {
    color: #fff;
    background-color: hsl(192, 100%, 9%);
}



/* ====== desktop styling ====== */
@media (min-width: 1440px) {
    body {
        margin: 80px 100px;
    }


    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "left right"
        ;
    }

    .section-img {
        width: 400px;
    }

/* ====== desktop: introduction styling ====== */
    .introduction {
        grid-area: 1;
        margin-bottom: 200px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
        "logo b1"
        "h1 h1"
        "p p"
        "b2 b2"
        "img img"
        "f1 f2"
        ;
    }

    .introduction > img:first-child {   
        width: 150px;
    }

    .introduction > img:nth-child(6) {
        /* grid-area: img; */
        margin-left: auto;
        margin-right: auto;
        width: 800px;
    }

    figure > img {
        width: 25px;
    }

/* ====== desktop: grow together styling ====== */
.grow-together > .wrapper {
    grid-area: left;
}

.grow-together > img {
    /* margin-bottom: 50px; */
    grid-area: right;
}

/* ====== desktop: flowing conversations styling ====== */
.flowing-conversations > img {
    margin-bottom: 50px;
    grid-area: left;
}

.flowing-conversations > .wrapper {
    grid-area: right;
}

/* ====== desktop: users styling ====== */
.your-users > .wrapper {
    grid-area: left;
}

.your-users > img {
    margin-bottom: 50px;
    grid-area: right;
}

/* ====== desktop: footer styling ====== */
footer {
    column-gap: 200px;
}


.legal {
    grid-area: left;
}

.newsletter {
    grid-area: right;
}

}