.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    margin: 30px 30px;
    text-align: center;
}

img {
    max-width: 100%;
}

main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6,auto);
    grid-template-areas: 
        "1"
        "2"
        "3"
        "4"
        "5"
        "6"
    ;
    margin-bottom: 100px;
}



/* ====== mobile: introduction styling ====== */

.introduction {
    grid-area: 1;
    margin-bottom: 200px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: 
    "logo b1"
    "h1 h1"
    "p p"
    "b2 b2"
    "img img"
    "f1 f1"
    "f2 f2"
    ;
}

.introduction > img:first-child {
    grid-area: logo;
    float: left;
    width: 100px;
}

.int-btn-one {
    grid-area: b1;
    float: right;
}

.introduction > h1 {
    grid-area: h1;
    margin-top: 80px;
}

.introduction > p {
    grid-area: p;
}

.int-btn-two{
    grid-area: b2;
    margin-top: 30px;
    margin-bottom: 80px;
}

.introduction > img:nth-child(6) {
    grid-area: img;
}

.communities {
    grid-area: f1;
}

.messages {
    grid-area: f2;
}

figure {
    margin-top: 80px;
}

figure > img {
    float: left;
}

figure > h2 {
    /* I want the communities icon to float over the follower counter! is display inline-block and width working? */
    display: inline-block;
    width: 100%;
}




/* ====== mobile: grow together styling ====== */


.grow-together {
    grid-area: 2;
    /* has a wavy light-blue background! */
    margin-bottom: 200px;
}

.grow-together > img {
    margin-bottom: 50px;
}


/* ====== mobile: flowing conversations styling ====== */

.flowing-conversations {
    grid-area: 3;
    margin-bottom: 200px;
}

.flowing-conversations > img {
    margin-bottom: 50px;
}




/* ====== mobile: users styling ====== */

.your-users {
    grid-area: 4;
    /* has a wavy light-blue background! */
    margin-bottom: 200px;
}

.your-users > img {
    margin-bottom: 50px;
}


/* ====== mobile: call for action styling ====== */

.call-for-action {
    grid-area: 5;
    margin-bottom: 200px;
}



/* ====== mobile: newsletter for action styling ====== */

.newsletter {
    grid-area: 6;
    text-align: left;
    /* has a wavy dark-green background! */
}

form > input {
    width: 100%;
    margin-bottom: 10px;
}

form > button {
    float: right;
}



/* ====== mobile: footer styling ====== */

footer {
    text-align: left;
    /* has a wavy dark-green background! */
}

footer > img {
    /* float: left; */
    width: 180px;
}

footer > p {
    margin-bottom: 40px;
}

footer > nav > ul {
    list-style: none;
    padding-left: 0;
}

.contact > li {
    margin-top: 10px;
}

.social > li {
    display: inline-block;
}



/* ====== desktop styling ====== */
@media (min-width: 1440px) {
    
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "left right"
        ;
    }

/* ====== desktop: introduction styling ====== */
    .introduction {
        grid-area: 1;
        margin-bottom: 200px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
        "logo b1"
        "h1 h1"
        "p p"
        "b2 b2"
        "img img"
        "f1 f2"
        ;
    }



/* ====== desktop: grow together styling ====== */
.grow-together > .wrapper {
    grid-area: left;
}

.grow-together > img {
    /* margin-bottom: 50px; */
    grid-area: right;
}

/* ====== desktop: flowing conversations styling ====== */
.flowing-conversations > img {
    margin-bottom: 50px;
    grid-area: left;
}

.flowing-conversations > .wrapper {
    grid-area: right;
}

/* ====== desktop: users styling ====== */
.your-users > .wrapper {
    grid-area: left;
}

.your-users > img {
    margin-bottom: 50px;
    grid-area: right;
}

/* ====== desktop: footer styling ====== */
.legal {
    grid-area: left;
}

.newsletter {
    grid-area: right;
}

}